*, *:before, *:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Ubuntu, 'Lucida Grande', sans-serif;
  background: #C7AB8C;
  text-align: center;
  background: #C7AB8C;
  color: #47331D;
}

h1 {
  padding: 20px 0;
  font-size: 20px;
  font-weight: bold;
  background: #47331D;
  color: #C7AB8C;
}

section#main {
  display: block;
  margin: 15% auto 0 auto;
  width: 80%;
  text-align: center;
}

p.passkey-field {
  margin-bottom: 50px;
}

label {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
}

input#passkey {
  width: 100%;
  font-size: 24px;
  padding: 10px;
  letter-spacing: 1em;
  text-align: center;
}

input#open-that-gate {
  display: block;
  width: 100%;
  padding: 12px;
  background: #0A7700;
  color: #ABE47F;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 15px;
}

